<div class="container">
  <div class="row">
    <div class="col-s-12">
      <div class="account">
        <h3 class="main-title">You can create a new diagram <br>
          <span class="account" id="gr-word">or view</span>
        </h3>
      </div>
      <div class="account">
        <h3 class="main-sub">the ones already created by you <br>
        </h3>
      </div><br>
      <br>
      <div class="d-flex justify-content-space-around">
        <form name="mailForm" method="GET" action="/mail" id="mailForm">
          <button id="sendMailBtn" formaction="/newtrip" formmethod="get"
            class="waves-effect waves-light btn-large nav-wrapper green lighten-3" type="submit"
            value="Pay castomize">Create Pie Chart</button>
          <button id="sendMailBtn" formaction="/newtrip/allTrips" formmethod="get"
            class="waves-effect waves-light btn-large nav-wrapper green lighten-3" type="submit"
            value="Pay castomize">All
            diagrams</button>
          <button id="qrCode" formaction="/newtrip/qrCode" formmethod="get"
            class="waves-effect waves-light btn-large nav-wrapper green lighten-3" type="submit">Create QR Code</button>
        </form>
      </div>
    </div>
  </div>
</div>
