<div class="container">

  <h3>
    <p class="useraccount giveitaname">Your create QR code, please enter data here:</p>
  </h3>
  </br>

  <div class="form-group">

    <form name="mailForm" method="POST" action="/newtrip/qrCode" id="qrCodeForm">

      <input type="text" placeholder="Enter data for QR here" name="qrData" class="form-control" id="Code">


      <button class="waves-effect waves-light btn-large nav-wrapper green lighten-3 center">Create QR Code</button>
    </form>
  </div> <br />

  </br>

  </br>
</div>
