<div class="container">
  <div class="qr">
    <h3>
      <p href="{{src}}" id="newtripTitle" class="useraccount giveitaname">Your QR code below:

      </p>
      <img width="300" height="320" src="{{src}}"> </br>

    </h3>
  </div>
  <div class="qr">
    <h3>
      <p id="newtripTitle" class="useraccount giveitaname">Link to GET request here:

      </p>
    </h3>
  </div>
  <div class="qr">
    <button class="waves-effect waves-light btn-large nav-wrapper green lighten-3 " onclick="myFunction()">Copy
      link</button>
  </div>
  <div class="qr">
    <input type="text" placeholder="Enter diagram labels" value="{{src}}" id="myInput" name="src" class="form-control"
      id="newtripName"> </br>

  </div> </br> </br>

  <form class="qr">
    <button id="sendMailBtn" formaction="/newtrip/mail" formmethod="post"
      class="waves-effect waves-light btn-large nav-wrapper green lighten-3" type="submit">Send QR
      Code
      by email</button>
  </form>
  </br>

  </br>
</div>
